<div class="container-fluid bg-light">
    <div class="container">
        <div class="row mt-4" style="height: 500px">
            <div class="col"></div>
          
            <div class="col-md-6 bg-white shadow">
                <!-- Card header -->
                <div class="card mt-4" style="height: 150px">
                    <h1 class="text-black p-2 pt-2">
                        TODOIST
                        <span class="material-icons">
                            edit_note
                        </span>
                    </h1>
                </div>

                <!-- Input form todoist -->
                <div class="shadow">
                    <div class="input-group p-4">
                        <textarea class="form-control" 
                        placeholder="Create task..." 
                        name="task"
                        aria-label="With textarea"></textarea>
                        <button class="btn btn-outline-success" type="button"
                        >
                         <span class="material-icons">
                            send
                        </span>
                        </button>
                    </div>
                </div>

                <h4 class="text-primary mt-4">
                      <span class="material-icons">
                        description
                      </span>
                </h4>


            </div>
          <div class="col"></div>

        </div>
    </div>
</div>